asgiref==3.8.1
backports.zoneinfo==0.2.1
Django==4.2.16
django-environ==0.11.2
django-filter==24.3
django-utils==0.0.2
django-filter==24.3
djangorestframework==3.15.2
sqlparse==0.5.1
typing_extensions==4.12.2
whitenoise==6.7.0
typing-extensions==4.12.2
whitenoise==6.7.0

