<!-- library_management_system.html -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Library Management System</title>	
</head>
<body>
    <h1>Welcome to the Library Management System</h1>

		{% if user.is_authenticated %}
		    <h2>Hello, {{ user.username }}!</h2>
		    <p>Welcome to the library system.</p>
			    <form method="POST" action="{% url 'logout' %}">
				    {% csrf_token %}
				    <button type="submit">Logout</button>
		            </form>
	        {% else %}
		    <div>
			<h2>Sign In</h2>
			<form method="POST">
			    {% csrf_token %}
			    {{ signin_form.non_field_errors }}
			    <div>
				<label for="id_username">Username:</label>
				{{ signin_form.username }}
			   </div>
			   <div>
			       <label for="id_password">Password:</label>
			       {{ signin_form.password }}
			   </div>
			   <button type="submit" name="signin">Sign In</button>
			</form>
		     </div>

		     <div>
			  <h2>Sign Up</h2>
			  <form method="POST">
			      {% csrf_token %}
			      {{ signup_form.non_field_errors }}
			      <div>
				  <label for="id_username">Username:</label>
				  {{ signup_form.username }}
			      </div>
			      <div>
				  <label for="id_email">Email:</label>
				  {{ signup_form.email }}
			      </div>
			      <div>
				  <label for="id_password1">Password:</label>
				  {{ signup_form.password }}
			      </div>
			      <div>
				  <label for="id_password2">Password:</label>
				  {{ signup_form.password }}
			      </div>
			      <button type="submit" name="signup">Sign Up</button>
			   </form>
		     </div>
		 {% endif %}

		 <footer>
		     <p>&copy; 2024 Library Management System</p>
		 </footer>
</body>
</html>


	   

